<div class="legend-layer">
  @for (pane of legendService.panes(); track pane) {
    <div class="pane-legend" [style.top.px]="pane.top()">
      @for (s of pane.series; track s.id) {
        <div class="series-legend">
          @if (s.type === SeriesType.CANDLE || s.type === SeriesType.HeikinAshi) {
            <span class="legend-item">{{ appStore.settings.symbol$().symbol }} </span>
          } @else {
            <span class="legend-item">{{ s.name }} </span>
          }
          <ng-template appSeriesLegendHost [series]="s"></ng-template>
        </div>
      }
    </div>
  }
</div>
